.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #fff;
  color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #09d3ac;
}

button {
  background: transparent;
  display: block;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
}

td {
  border-bottom: 1px solid grey;
}

tr:nth-of-type(3) td,
tr:nth-of-type(6) td {
  border-bottom: 2px solid black;
}

td {
  border-right: 1px solid grey;
  margin: 0;
}

.validation {
  width: 1.5rem;
  height: 1.5rem;
  border: 0 !important;
}

.valid {
  color: #71ab71;
}

.invalid {
  color: #ca2323;
}

td span {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  vertical-align: middle;
}

.original {
  font-weight: bold;
}

.guess {
  font-size: 8px;
  font-style: italic;
  font-weight: normal;
  color: grey;
  vertical-align: top;
  line-height: unset;
  text-align: left;
}

td:nth-of-type(3),
td:nth-of-type(6) {
  border-right: 2px solid black;
}

td:nth-of-type(9),
td:last-of-type {
  border-right: none;
}

tr:last-of-type td {
  border-bottom: none;
}
